<div class="card-component">
  <div class="main-img-container" (click)="handleCardClick()">
    <img src="{{product?.images[0]}}" alt="notebook-icon">
  </div>
  <div class="container-row">
    <button class="rate">
      {{product?.rating}}<img src="assets/images/Star%201.png" alt="star-icon">
    </button>
    <p class="price">{{product?.price}}</p>
  </div>
  <p class="product-title">{{product?.title}}</p>
  <p class="category">{{product?.category}}</p>
  <button class="button-add">ADD TO CART</button>
</div>
